.folderInput {
  border: 1px solid #000000;
  padding: 10px;
  width: 320px;
  margin: 20px 0 20px 25px;
  display: flex;
  flex-flow: wrap;
}

.add-folder {
  background-color: #000;
  color: #fff;
  padding: 10px;
  margin: 10px 0px 20px 10px;
  border-radius: 4px;
}

.folder-icon {
  height: 25px;
  margin-right: 10px;
  width: 15px;
}

.save-btn {
  margin: 0 10px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
}

.cancel-btn {
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 4px;
  font-weight: 800;
}

.plus {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  margin-left: 10px;
  border-radius: 20px;
  font-weight: 700;
}

.minus {
  background-color: white;
  color: black;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  margin-left: 10px;
  border-radius: 20px;
  font-weight: 700;
}
