<button class="add-folder" (click)="addFolder('folder')">
  Add folder to root
</button>
<form [formGroup]="fileFolderForm">
  <ul formArrayName="fileFolderFormArray">
    <li
      *ngFor="let folder of fileFolderFormArray.controls; let index = index"
      [formGroupName]="index"
      class="folder-list"
    >
      <div class="folder-input">
        <img
          src="https://folder-structure-9dbd4.web.app/assets/folder-open-regular.svg"
          alt="folder-icon"
          class="folder-icon"
          (mouseleave)="onMouseLeave(index)"
        />

        <input
          type="text"
          *ngIf="!folder.get('isEditableText')?.value"
          formControlName="name"
        />

        <span
          *ngIf="folder.get('isEditableText')?.value"
          (mouseenter)="onMouseEnter(index)"
          >{{ folder.get("name")?.value }}</span
        >

        <button
          *ngIf="!folder.get('isEditableText')?.value"
          class="save-btn"
          (click)="save(folder)"
        >
          ✔
        </button>

        <button
          *ngIf="!folder.get('isEditableText')?.value"
          class="cancel-btn"
          (click)="cancel(index)"
        >
          ✕</button
        ><br />

        <span
          class="validation"
          *ngIf="folder.get('name')?.invalid && folder.get('name')?.touched"
          >Folder Name is required</span
        >

        <div *ngIf="folder.get('isHidden')?.value" class="show-icon">
          <button (click)="addFileFolder(index)" class="plus">+</button>
          <button (click)="deleteFileFolder(index)" class="minus">-</button>
        </div>
      </div>

      <div
        class="fileFolder tree-lines"
        *ngIf="folder.get('isViewFolder')?.value"
      >
        <button (click)="addChildrenFileFolder(index, folder, 'file')">
          File
        </button>
        <button (click)="addChildrenFileFolder(index, folder, 'folder')">
          Folder
        </button>
      </div>
      <app-children [folderItem]="folder"></app-children>
    </li>
  </ul>
</form>

<pre>{{ fileFolderForm.value | json }}</pre>
