<app-header></app-header>
<app-folder></app-folder>
<router-outlet></router-outlet>

<!-- <form [formGroup]="fileFolderForm">
  <ul formArrayName="fileFolderFormArray">
    <li
      *ngFor="let file of fileFolderFormArray.controls; let index = index"
      [formGroupName]="index"
    >
      <div class="folderInput">
        <img
          src="https://folder-structure-9dbd4.web.app/assets/folder-open-regular.svg"
          alt="folder-icon"
          class="folder-icon"
          (mouseleave)="onMouseLeave(index)"
        />

        <input
          type="text"
          *ngIf="!file.get('isEditableText')?.value"
          formControlName="name"
        />

        <span
          *ngIf="file.get('isEditableText')?.value"
          (mouseenter)="onMouseEnter(index)"
          >{{ file.get("name")?.value }}</span
        >

        <button
          *ngIf="!file.get('isEditableText')?.value"
          class="save-btn"
          (click)="save(file)"
        >
          ✔
        </button>

        <button
          *ngIf="!file.get('isEditableText')?.value"
          class="cancel-btn"
          (click)="cancel(index)"
        >
          ✕</button
        ><br />

        <span
          class="validation"
          *ngIf="file.get('name')?.invalid && file.get('name')?.touched"
          >Folder Name is required</span
        >

        <div *ngIf="file.get('isHidden')?.value">
          <button (click)="addFileFolder(index)" class="plus">+</button>
          <button (click)="deleteFolder(index)" class="minus">-</button>
        </div>

        <div class="fileFolder" *ngIf="file.get('isViewFolder')?.value">
          <button *ngIf="isViewFileBtn" (click)="openFile(index)">File</button>
          <button *ngIf="isViewFileBtn" (click)="openFolder()">Folder</button>
        </div>
      </div>
    </li>
  </ul>
</form> -->
